.plan {
    font-weight: bold;
    font-size: 40px;
    padding-left: 30px;
}

.jours {
    font-size: 20px;
    font-weight: bold;
    padding: 4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    background-color: #f6f0e9;
    border-radius: 20px;
}

.heures {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
}