/* Centrage de la page */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f9f9f9;
}

/* Conteneur du formulaire */
.login-form-container {
    background-color: #fdf6ec;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Titre */
.login-form-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Champs du formulaire */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    margin-top: 5px;
}

/* Bouton de connexion */
.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8B4513;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #5c3317;
}
