
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f9f9f9;
}


.login-form-container {
    background-color: #fdf6ec;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    width: 100%;
}


.login-form-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    margin-left: 10px; 
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: none; 
    border-radius: 20px; 
    font-size: 1rem;
    background-color: #fff;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.label-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.label-password label {
    margin-right: 5px; 
}


.forgot-password {
    font-size: 0.9rem;
    color: #8B4513;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}


.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; 
    background-color: #8B4513;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #5c3317;
}


.messages {
    margin: 20px auto;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}


.message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}


.message.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}


.message.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.message.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}
