{% extends "base-header.html" %}
{% load static %}

{% block title %}Inscription{% endblock %}

{% block styles %}
<link href="{% static 'style-register.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="register-page">
    <div class="register-form-container">
        <h1>Inscription</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_last_name">Nom</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>

            <div class="form-group">
                <label for="id_first_name">Prénom</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>

            <div class="form-group">
                <label for="id_email">E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="form-group">
                <label for="id_password1">Mot de passe</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="form-group">
                <label for="id_password2">Confirmer Mot de passe</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <div class="form-actions">
                <button type="submit" class="submit-button">Continuer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
