{% extends "base-header.html" %}
{% load static %}
{% load planning_filters %}
{% block title %} Planning {% endblock %}

{% block styles %}
<link href="{% static 'style-planning.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="planning">
    <h1>Planning</h1>
    <h2>Semaine {{ week_number }}</h2>
    <div class="week">
        {% for day, courses in week_planning.items %}
            <div class="day">
                <div class="day-header">{{ day }}</div>
                {% for course in courses %}
                    {% if course.nb_inscriptions >= course.nbPersMax %}
                        <div class="course full">
                            <p>Cours de poney {{ course.dateCou|hour }}h - {{ course.dateCou|hour:course.duree }}h</p>
                            <span>PLEIN</span>
                        </div>
                    {% else %}
                        <div class="course available">
                            <p>Cours de poney {{ course.dateCou|hour }}h - {{ course.dateCou|hour:course.duree }}h</p>
                            <button class="book">Réserver</button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <!--
        <div class="course available">
            <p>Cours de poney 8h - 9h</p>
            <button>Réserver</button>
        </div>

        <div class="course full">
            <p>Cours de poney 14h - 16h</p>
            <span>PLEIN</span>
        </div>

        <div class="course reserved">
            <p>Cours de poney 13h - 15h</p>
            <button>Annuler la réservation</button>
        </div>
        -->

    </div>
  </div>
{% endblock %}