{% extends "base.html" %}
{% load static %}

{% block header %}
<header>
    <nav>
        <a href="">Acceuil</a>
        <a href="">Poneys</a>
        <a href="/planning/">Planning</a>
        <a href="">Contact</a>
    </nav>
    <h1>Poney Club Orléans</h1>
    <div class="actions">
        <a class="connexion" type="submit">Connexion</a>
        <a class="adherer" type="submit">Adhérer</a>
    </div>
</header>
<footer>
    <p><strong>8 Route de Concyr</strong></p>
    <p><strong>45 590 SAINT CYR EN VAL</strong></p>
    <p><strong>02 38 69 25 65</strong></p>
</footer>
{% endblock %}

{% block content %}{% endblock %}