{% extends "base.html" %}
{% load static %}

{% block header %}
<header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/listponey/">Poneys</a>
        <a href="/default_planning/">Planning</a>
        {% if user.is_authenticated and user.is_instructor %}
            <a href="{% url 'dashboard' %}">Tableau de bord</a>
        {% endif %}
    </nav>
    
    
    <h1>Poney Club Orléans</h1>
    
    
    <div class="actions">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="logout-button" type="submit">Se déconnecter</button>
        </form>

        {% else %}
            <a class="connexion" href="/login/">Connexion</a>
            <a class="connexion" href="/register/">S'inscrire</a>
        {% endif %}
        
        <a class="adherer" href="">Adhérer</a>
    </div>
</header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer>
    <p><strong>8 Route de Concyr</strong></p>
    <p><strong>45 590 SAINT CYR EN VAL</strong></p>
    <p><strong>02 38 69 25 65</strong></p>
</footer>
{% endblock %}
