{% extends "base-header.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block styles %}
    <link href="{% static 'manage.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>Ajouter un nouveau cours</h1>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<form class="ajout_bd" method="POST" action="{% url 'new_lesson' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ajouter</button>
</form>

{% endblock %}